body {
    background-color: #006125;
    font-family: 'Roboto Mono', monospace;
    
}
body h1 {
    color: #E6B300;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    text-shadow: 2px 2px #000000;
}

body li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
}

body li a:hover{
    color: #E6B300;
}

body li{
    list-style-type: none;
    color: #000000;
      font-size: 1.2rem;
}
